.results-list {
    padding: 0;
    background-color: $white;
}

.item-result {
    display: block;
    color: $dark;
    box-shadow: 0 0 0 0 $secondary;
    transition: box-shadow 0.2s ease-out;

    &:focus {
        outline: none;
    }
    &:hover {
        color: $dark;
        text-decoration: none;
        -webkit-box-shadow: 0px 0px 4px 1px $secondary;
        -moz-box-shadow: 0px 0px 4px 1px $secondary;
        box-shadow: 0px 0px 4px 1px $secondary;
    }

    .item-body {
        margin: 0 16px;
        padding: 16px 0;
        border-bottom: 1px solid $light;
    
        .thumb-image {
            width: 180px;
            border-radius: 4px;
        }
    
        .price-shipping {
            display: flex;
            align-items: center;
            margin-bottom: 0;
    
            .price {
                font-size: 24px;
            }
        }

        @include media-breakpoint-up(md) {
            .price-shipping {
                margin-bottom: 32px;
            }
        }
    
        .description {
            font-size: 18px;
        }
    
        .location {
            font-size: 12px;
            color: $secondary;
        }
    }
}