$primary: #FFE600;
$secondary: #999999;

$light: #EEEEEE;
$dark: #333333;

// $danger: red;

// //
// // Color system
// //

// $white:    #fff;
// $gray-50:  #fafafa; //custom
// $gray-100: #f4f4f3;
// $gray-200: #edf0f2;
// $gray-300: #d2d2d2;
// $gray-400: #d0d0d0;
// $gray-500: #adb5bd;
// $gray-600: #7d7e81;
// $gray-700: #484848;
// $gray-800: #333;
// $gray-900: #2b2b2c;
// $black:    #000;

// $blue:        #063558;
// $blue-light:  #c5e2f0;
// $indigo:      #6610f2;
// $purple:      #6f42c1;
// $pink:        #e83e8c;
// $red:         #dc3545;
// $orange:      #f87d1e;
// $yellow:      #ffe87c;
// $green:       #28a745;
// $teal:        #20c997;
// $cyan:        #17a2b8;

// $primary:       $blue;
// $secondary:     $orange;

// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
